.projects-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin-bottom: 100px;
}

.project {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    color: white;
}


.project-img {
    width: 100%;
    border-radius: 10px;
}

.img-container {
    position: relative;
    transition: transform 150ms;
    
}

.img-overlay {
    position: absolute;
    inset: 0px;
    background-color: #26262699;
    border-radius: 10px;
}

.project-text {
    position:absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    text-align: left;
}

.project:hover .img-container{
    transform: scale(1.05);
}