.Homepage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0a192f;
    border-radius: 10px;
    gap: 50px;
}

.Homepage.no-animations .intro-text,
.Homepage.no-animations .projects-page,
.Homepage.no-animations .about-container {
    animation: none;
    opacity: 1;
}

.divider {
    width: 100%;
    border-color: #ccd6f6;
}

.intro-section {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-self: center;
    box-shadow: 1px 1px 2px black;
    width: 100%;
}

.hero-head {
    font-size: 20px;
    margin: 0;
}

.hero-name {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0;
}

.hero-profession {
    color: aquamarine;
    font-size: 50px;
    margin: 0;
}

.hero-desc {
    margin-top: 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 1.5s;
    gap: 2px;
}

.intro-text a {
    text-decoration: none;
}

.buttons {
    display: flex;
    gap: 20px;
}

.intro-button {
    border: 1px solid transparent;
}

.intro-button:hover {
    background-color: aquamarine;
    color: #0a192f;
}

.project-button:hover {
    
    transform: scale(1.2);
}

.close-button {
    width: 100px;
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    align-self: center;
}

.close-button:hover {
    background-color: #0a192f;
    color: #ccd6f6;
}

.pfp {
    max-width: 400px;
    align-self: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chips-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0px;
    max-width: 100%;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 1.5s;
    margin-bottom: 10px;
}

.tooltip-container {
    position: relative;
    display: flex;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aquamarine;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 18px;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.5s, visibility 0.5s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.stack-logo {
    width: 100px;
    max-height: 100px;
    transition: all 0.2s ease-in-out;
    background-color: inherit;
    border-radius: 30%;
    padding: 4px;
    object-fit: contain;
}

.stack-logo:hover {
    transform: scale(1.05);
    background-color: aquamarine;
}

.about-container {
    align-self: center;
    height: 100%;
    max-width: 700px;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 3s;
}

.about-container h1 {
    margin-top: 0;
}

.about-description {
    font-size: 20px;
    text-align: left;
}

.tech-stack-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.about-container h1 {
    font-size: 40px;
}

.about-container a {
    color: aquamarine;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.about-container a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

.about-container a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.about-container h2 {
    font-size: 28px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.projects-container h1 {
    font-size: 40px;
}

.project-left,
.project-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.project-left {
    flex-direction: row;
}

.project-right {
    flex-direction: row-reverse;
}

.project-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 3s;
}

.img-container {
    position: relative;
    overflow: visible;
    width: 65%;
    height: auto;
    border-radius: 10px;
}

.img-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s ease;
    z-index: 2;
    opacity: 1;
    border-radius: 10px;
}

.project-left:hover .img-overlay,
.project-right:hover .img-overlay {
    opacity: 0;
}

.project-left:hover .project-left-text {
    transform: translateX(75%);
}

.project-right:hover  .project-right-text {
    transform: translateX(-1%);
}

.project-left-text,
.project-right-text {
    position: absolute;
    background-color: #112240;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    z-index: 3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, background-color 0.8s;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
}

.project-left-text {
    top: 25%;
    left: 60%;
    text-align: right;
    align-items: flex-end;
    transform: translateX(30%);
}

.project-right-text {
    top: 25%;
    right: 100%;
    text-align: left;
    transform: translateX(40%);
    align-items: flex-start;
}

.project-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-description-l {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.Contact {
    height: 150px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.ext-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.ext-links img {
    max-height: 50px;
    transition: all 0.2s ease-in-out;
}

.ext-links img:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .Homepage {
        gap: 30px;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        padding: 8px;
    }

    .hero-name {
        font-size: 40px;
    }

    .hero-profession {
        font-size: 38px;
    }

    .hero-desc {
        font-size: 16px;
    }

    .pfp {
        height: 300px;
    }

    .about-container {
        padding: 20px;
    }

    .tech-stack-divider {
        padding: 12px;
    }

    .tech-stack-divider h2 {
        font-size: 18px;
    }

    .chips-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        padding: 0px 50px;
    }

    .tooltip-text {
        bottom: -8px;
        z-index: 5;
        left: 30px;
        font-size: 12px;
    }

    .stack-logo {
        margin-bottom: 40px;
        
        width: 52px;
    }

    .img-container {
        width: 100%;
        position: relative;
        height: auto;
    }

    .img-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
        border-radius: 10px;
    }

    .project-left,
    .project-right {
        flex-direction: column;
    }

    .project-left-text,
    .project-right-text {
        top: 0;
        left: 0;
        transform: none;
        position:absolute;
        display: inline-block;
        width: 90%;
        z-index: 3;
        height: 87%;
        font-size: 12px;
        text-align: left;
        background-color: rgba(17, 34, 64, 0.7);
        display: inline-block;
    }
    
    .project-left:hover .project-left-text,
    .project-right:hover  .project-right-text {
        transform: none;
    }

    .project-left:hover .img-overlay,
    .project-right:hover .img-overlay {
        opacity: 1;
}

    .project-description-l {
        font-size: 16px;
        margin-top: 0;
    }

}