/* .Contact {
    height: 150px;
    background-color: #E2F1E7;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.ext-links {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.ext-links img {
    max-height: 50px;
} */