.Navbar {
    background-color: #001F3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    color: #AFCBFF;
    box-sizing: border-box;
    font-size: 22px;
    padding: 0px 160px;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 2px black;
    z-index: 1;
}

.link {
    cursor: pointer;
}

.Navbar a {
    text-decoration: none;
    color: #AFCBFF;
    padding-left: 6px;
}

.Navbar img {
    max-height: 35px;
}

.page-routes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

