.Navbar {
    background-color: #089541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 60px;
    color: #11170d;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 22px;
    padding: 0px 150px;
    top: 0.5cap;
    box-shadow: 1px 1px 2px black;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.link {
    cursor: pointer;
}

.Navbar a {
    text-decoration: none;
    color: #11170d;
    padding-left: 6px;
}

.Navbar img {
    max-height: 35px;
}

.page-routes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

