.Navbar {
    background-color: #0a192f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 60px;
    color: #ccd6f6;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 22px;
    padding: 0px 10px;
    top: 0.5cap;
    box-shadow: 1px 1px 2px black;
    z-index: 4;
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}

.link {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.link:hover {
    color: aquamarine;
}

.link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transform-origin: bottom-right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.page-name {
    text-decoration: none;
    color: #ccd6f6;
}

.cv-button {
    border-radius: 10px;
    font-size: 16px;
    width: 50px;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    background-color: aquamarine;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

.cv-button:hover {
    background-color: #0a192f;
    color: #ccd6f6;
    border: 1px solid #ccd6f6;
}

.page-routes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.menu-icon {
    display: none !important;
}

.drawer-list {
   padding: 10px;
   background-color: #0a192f;
   color: #ccd6f6;
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 10px;
   
}

.drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media (max-width: 768px) {
    

    .Navbar {
        max-width: 100vh;
        padding: 10px;
        font-size: 20px;
    }

    .cv-button {
        font-size: 12px;
        padding: 5px;
        width: 50px;
    }

    .menu-icon {
        display: block !important;
    }
}

@media (max-width: 870px) {
    .Navbar {
        max-width: 100%;
        padding: 10px;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
.page-routes {
    display: none;
}

.menu-icon {
    display: block !important;
}

}