.footer {
    position:static;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: #8D99AE;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
}

.footer h4 {
    font-weight: 500;
}