.footer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: #E2F1E7;
    bottom: 0;
    left: 0;
    box-shadow: 1px 1px 1px 2px black;
    z-index: 1;
}

.footer h4 {
    font-weight: 500;
}