.countryfacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.countryfacts img {
    margin-bottom: 30px;

}

.projectpage-img {
    width: 100%;
}

.projectpage-s {
    width: 300px;
}

.s-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
}


.stacks-used {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chip {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}