#root {
  height: 100%;
  width: 100%;
  text-align: center;
  
}

.App {
  display: flex;
  flex-direction: column;
}

.pfp {
  max-width: 350px;
  align-self: center;
  margin-top: 10px;
}

html, body {
  padding: 0;
  background-color: #629584;
}

